/node_modules
/public/hot
/public/storage
/public/editor/kcfinder/upload/images
/public/upload
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
.env
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
