.btnBook .btn {
  margin-top: 55px;
  border-radius: 5px;
  position: absolute;
  background: #b92240;
  /*box-shadow: 0 3px 0 0 #52001b;*/
}
.btnBook .btn a{
  color: #ffffff;
}
.slide .imgSlide {
  background-image: url('http://templines.rocks/html/academica/assets/media/main-slider/1.jpg');
}
.slide .imgSlide .colFormSignup {
  width: 400px;
  float: right;
  margin-top: 30px;
  margin-bottom: 60px;
}

.btn-buy {
  border-radius: 5px;
}


@media (max-width: 480px) {
  .slide .imgSlide .colFormSignup {
    float: none;
    width: 100%;
  }
  .btnBook .btn {
    margin-top: 0px;
    margin-left: 50px;
  }
  .btn-buy {
    margin-top: 6px !important;
  }
}