a.hover{
	text-decoration: none;
	color: #333;
}

a.hover .shadow {
	border : 2px solid transparent;
}

a.hover .shadow:hover {
	border : 2px solid rgba(130, 34, 216, 1);
}

.bg-1 {
	background-color: rgba(130, 34, 216, 1);
	background: -moz-linear-gradient(left, rgb(34, 25, 42) 0%, rgba(23, 7, 3) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(130, 34, 216, 1)), color-stop(100%, rgb(24, 5, 32)));
	background: -webkit-linear-gradient(left, rgb(26, 21, 31) 0%, rgba(23, 7, 3) 100%);
	background: -o-linear-gradient(left, rgb(24, 16, 31) 0%, rgb(23, 7, 31) 100%);
	background: -ms-linear-gradient(left, rgb(18, 12, 24) 0%, rgba(23, 7, 3) 100%);
	background-color: linear-gradient(to right, rgb(13, 6, 19) 0%, rgba(23, 7, 3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8222d8', endColorstr='#a81de7', GradientType=1);
}

.btn-purple {
	background: rgba(130, 34, 216, 1);
	background: -moz-linear-gradient(left, rgba(130, 34, 216, 1) 0%, rgba(23, 7, 3) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(130, 34, 216, 1)), color-stop(100%, rgba(23, 7, 3)));
	background: -webkit-linear-gradient(left, rgba(130, 34, 216, 1) 0%, rgba(23, 7, 3) 100%);
	background: -o-linear-gradient(left, rgba(130, 34, 216, 1) 0%, rgba(23, 7, 3) 100%);
	background: -ms-linear-gradient(left, rgba(130, 34, 216, 1) 0%, rgba(23, 7, 3) 100%);
	background: linear-gradient(to right, rgba(130, 34, 216, 1) 0%, rgba(23, 7, 3) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8222d8', endColorstr='#a81de7', GradientType=1);
	color: #fff !important;
}

.btn-purple:hover {
	background: linear-gradient(to right, rgba(23, 7, 3) 100%, rgba(130, 34, 216, 1) 0%);
}

.btn-identity {
	background-color: #fb6e10 !important;
	border-color: #fb6e10 !important;
}

.btn-identity:hover {
	background-color: #fb6e10 !important;
}

.btn-identity-red {
	background-color: #b92240 !important;
	border-color: #b92240 !important;
}

.btn-identity-red:hover {
	background-color: #b92240 !important;
}

.text-identity-yellow {
	color: #ffb320 !important;
}

.bg-identity-yellow {
	color: #ffb320 !important;
}

.detail-padding {
	padding-top: 100px;
}

div#flag { 
	background-color: #333;
	padding: 10px;
	font-size: 13px !important;
	border-radius: 2px;
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Safari 3-8 */
	transform: rotate(40deg);
	width: 70px;
	position: absolute;
	right:0;
	top:0;
}

@media (max-width: 450px) {
	.detail-padding {
		padding-top: 80px;
	}
	.pb-sm {
		padding-bottom: 20px;
	}
}